<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar la Novedad</h4>
            <form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data">
            <input type="hidden" name="novelties_id" value="{{novelty.novelties_id}}">
            <div class="form-group">
                <label for="titulo">Titulo</label>
                <input type="text" class="form-control" name="novelties_title" value="{{novelty.novelties_title}}">
            </div>
            <div class="form-group">
                <label for="subtitulo">SubTitulo</label>
                <input type="text" class="form-control" name="novelties_subtitle" value="{{novelty.novelties_subtitle}}">
            </div>

            <div class="form-group">
                <p>
                <label for="">Imagen: <input type="file" name="imagen" id="imagen" /></label>
                </p>
                <p>
                    <label for=""><input type="checkbox" name="img_delete" id="img_delete" value="1">Eliminar imagen actual?</label>
                    
                    <input type="hidden" name="img_original" value="{{novelty.novelties_img_id}}">
                </p>
                <p>
                    <h2>Fede</h2>
                    {{{image}}}
                </p>
            </div>

            <div class="form-group">
                <label for="cuerpo">Cuerpo</label>
                <textarea name="novelties_bodie" class="form-control">{{novelty.novelties_bodie}}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Modificar</button>
            </form>
            {{#if error}}
                <p>{{message}}</p>
            {{/if}}
        </div>
    </div>
</div>